<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application.css' %>
  <title>Pawpi</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body style='background-color: #286090;'>
<div style='width: 100vw; color: white; background-color: #286090;'>
<div style='top: 300px; position: absolute; width: 100vw'>
<div style='position: relative; left: 40%;'>
    <span class="pawpi-logo">
        <%= image_tag("logopawpi.png", size: "64x64")%>
    </span>
    <span class="pawpi-text">
        <a style="color: whitesmoke;">pawpi</a>
    </span>
    <p class='pawpi-text' style='top: 50px; left: -80px; color: whitesmoke;'>Currently Under Construction</p>
</div>
</div>
</div>
</body>
</html>
